.venv/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
db.sqlite3
.env
models/
data/**
!data/
!data/.gitkeep
!data/audio/
!data/audio/.gitkeep
!data/audio/raw_input_audio/
!data/audio/raw_input_audio/.gitkeep
!data/processed_audio_text/
!data/processed_audio_text/.gitkeep
!data/processed_hindi_text/
!data/processed_hindi_text/.gitkeep
!data/processed_hindi_audio/
!data/processed_hindi_audio/.gitkeep
!data/events/
!data/events/.gitkeep
real-output/
